@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  margin: 0;
}

:root {
  --color-primary: #42d9c8;
  --color-primary-light: #a0ece3;
  --color-secondary: #326771;
  --color-secondary-light: #98b3b8;
  --color-tertiary: #28464b;
  --color-font-paragraph: #333;
  --color-font-light: #fff;
  --font-family: 'Montserrat', sans-serif;
  --border-radius: 1.25rem;
  --padding-button: 0.7rem 2.5rem;
}

h1 {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-tertiary);
}

h2 {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-tertiary);
}

span {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-font-paragraph);
}

.search {
  color: var(--color-font-search);
  background-color: var(--color-primary-light);
}

textarea {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-font-paragraph);
}

.cta_light {
  color: var(--color-primary);
}

.sb-show-main.sb-main-padded {
  padding: 0;
}
